/* estilos gnerales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /*estilos contenido barra del logo*/

    .container-inicio{
      background-color:#fdf9f9c8;
      max-width: 120rem;
      margin: 0 auto;
      
      .inicio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem 0 ;
        
        img{
       width: 100px;
       margin:10px;
        }
        
      } 
    .container-logo{
     display: flex;
     align-items: center;
     gap: 5rem;
    } 
      .contenedor-soporte{
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-direction: column;
      margin: 0;
     }  
  .container-usuario {
    display:flex;
    gap: 1rem;
    cursor: pointer;
  .fa-user{
   font-size: 1rem; 
   color: #141313;
   padding-right: 0.5rem;
   border-right: 1px solid;
   }
  .fa-cart-flatbed-suitcase{
   font-size: 1rem; 
   color: #141313;
   padding-right: 0.5rem;
   border-right: 1px solid;
   }
    .contenedor-carrito{
     gap: 1rem;
     margin-right: 1rem;
     display: flex;
     flex-direction: column;
    }
 }
    }
  
   /* estilos navbar*/
   .barra{
    background-color: #eae3e3;
    height: 115px;
   
   }
   .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin: 20px;

    .fa-bars{
      font-display: none;
     }
     .menu{
      display: flex;
      gap: 1.5rem;
     }
    /*estilos buscador*/
  .search{
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid #c0b7b7;
    border-radius: 2rem;
    background-color: azure;
    height: 2rem;
    overflow: hidden;
    
   input{
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 1rem;
    padding: 0 1rem;
    width: 15rem;
    color: black;
    cursor: pointer;
    }

   .btn-search{
    border: none;
    background-color: #615f5fb7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
     
   i{
    font-size: 1.4rem;
    color: rgba(240, 248, 255, 0.888);
    }
   }
  }
}
  
 
  /*estilos portada*/
  .banner{
    background-image: linear-gradient(100deg, #00000086, #0000202b), url(../img/living-room-8578263_1280.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    .contenedor-banner{
      max-width:15rem ;
      padding: 3rem 0;
      margin: 0 auto;
      margin-top: 3rem;
      
      .titulo-1{
        text-align: center;
        font-weight: 500;
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 30px;
        
      }
      p{
        color: #eae3e3;
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight:600;
     }
     h2{
      color: #eae3e3;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
      }

     a{
      margin-top: 2rem;
      text-decoration: none;
      color: #3e3c3c;
      background-color: #f0eded;
      display: inline-block;
      padding: 0.2rem 1.5rem;
      border-radius: 1rem;
      text-transform: uppercase;
     }
    }
  }

  @media (max-width: 1024px) {
    .banner {
      width: 100%;
      height: 250px;
      .contenedor-banner {
        width: 100%;
        height: auto;
        p{
          font-size: 15px;
          margin-bottom:10px;
          font-weight:450;
       }
       h2{
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
        }
        a{
        margin-top: 1px;
        padding: auto;
        border-radius: 12px;
        text-transform: uppercase;
        
         
       }
      }
    }
  
    
  }

  /*estilos main contenido*/
   .main-contenedor{
     background-color:  #eae3e368;
     margin: 30px auto;
   

  /* Estilos caracteristicas*/
   .container-servicio{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 1rem 0;
   margin-right: 3rem;
   
    
    .card-servicio{
      display: flex;
      align-items: center;
      justify-content: center;
      gap:0.5rem ;
   
      background-color: aliceblue;
      border-radius: 1rem;
      padding: 1rem 0;

      i{
        font-size:1.5rem ;
        color: #4e4b4b;
      }

    .servicio-content{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      span{
        font-weight: 700;
        font-family: 1.2rem;
        color: #232121;
        }

     p{
      color: #242121; 
      font-weight: 500 ;
     }
      }
    }

     }
   }

  
   @media (max-width: 1024px) {
    #contenedor-cards {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 1rem;
    }
  
    .card {
        width: 100%;
        margin-left: 0;
    }
  }
  
  
  @media (max-width: 768px) {
    #contenedor-cards {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
  
    .card {
        width: 100%;
        margin-left: 0;
    }
  }
  
    /* Estilos mas vendidos inicio*/
  .mas-vendidos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2.5rem;

 .container-categories{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  .card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    p{
      font-size: 1.5rem;
      text-transform: capitalize;
      color: #e6e0e0;
      position: relative;
    }
     span{
     font-size: 1.5rem;
     color: #fbf8f8;
     cursor: pointer;
     transition: color 0.3s ease;
     :hover{
       color: #fbf8f8a4;
    }
    }
   }
  .category-muebles {
    background-image:linear-gradient(#00000080, #00000080), url(../img/sala-cuero.png);
    background-size: center;
    background-position: bottom;
  }
  .category-alcobas {
   background-image:linear-gradient(#00000080, #00000080), url(../img/Copia\ de\ cama-base.jpg);
   background-size: center;
   background-position: bottom;
  }
  .category-comedores{
   background-image: linear-gradient(#00000080, #00000080),url(../img/comedor-clas.jpg);
   background-size: center;
   background-position: bottom;
  }
 }
}
 
  /* Estilos maejores productos*/
 .mejores-productos{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin-bottom: 3rem;
   .container-opciones{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
 span{
  color: #777;
  background-color: #e6e0e0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 1rem;
  cursor: pointer;
  :hover{
    background-color:  #b0a7a7;
    color:#615f5fb7;
 }
.active{
background-color:  #ccc3c3;
color: #615f5fb7;
}
}
  }
 }
 
   /*Gallery-mini*/
.gallery{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:repeat(2,15rem);
  gap: 1rem;
  margin-bottom:30px ;
  margin-left: 1rem;
  margin-right: 1rem;
  img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
 }
 .gallery-img-3{
  grid-column: 2/4;
  grid-row: 1/3;
}
}

  /* Estilos cards*/
  
  #contenedor-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    margin: 2rem auto ;
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height:auto;
      border: 6px solid #615f5fb7;
      border-radius: 1rem;
      box-shadow: 0 4px 8px #3b380f 0, 0, 0, 0.1;
      display: inline-block;
      margin: 1rem auto;

      .card__img1 {
        height: 170px;
        width: 100%;
        object-fit: cover;
        background-color:#615f5f6e;
        border-radius: 0.5rem;
        background-image: url(../img.html/molde-bb.jpeg);
      }
      
      .card__img2 {
        height: 170px;
        width: 100%;
        object-fit: cover;
        background-color: #615f5fb7;
        border-radius: 0.5rem;
        background-image: url(../img.html/soja.jpeg);
      }
      
      .card__img3 {
        height: 170px;
        width: 100%;
        object-fit: cover;
        background-color: #615f5fb7;
        border-radius: 0.5rem;
        background-image: url(../img.html/vela-card.jpeg);
      }
      .card__content {
        height:auto;
        max-height: none;
        background-color: #efeeed;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-width: 100%;
        overflow-x: hidden;
        margin: 0 auto;
        padding: 10px;
        .card__titulo {
          margin-top: 0;
          color: #3b380f;
          text-align: center;
          padding: 3px;

        }
        
        .card__arti {
          color:  #b0a7a7;
          padding: auto;
          text-align: justify;
        }
        button{
          align-items: center;
        }

  .btn-primary {
    padding: 8px;
    background: none;
    border: 2px solid rgba(59, 56, 15, 0.7058823529);
    border-radius: 10px;
    color: #fff;
    background-color:#615f5f94;
    border-color: rgba(59, 56, 15, 0.7058823529);
     
  :hover {
    padding: 8px;
    border: 2px solid rgba(59, 56, 15, 0.7058823529);
    border-radius: 10px;
    color: #fff;
    background-color: rgba(59, 56, 15, 0.7058823529);
    border-color: #615f5fb7;
  }
  }
 
  
  .btn-secondary {
    padding: 8px;
    background: none;
    border: 2px solid rgba(59, 56, 15, 0.7058823529);
    border-radius: 10px;
    color: #fff;
    background-color:#615f5fb7;
    border-color: rgba(59, 56, 15, 0.7058823529);
      
  :hover {
    padding: 8px;
    border: 2px solid rgba(59, 56, 15, 0.7058823529);
    border-radius: 10px;
    color: #fff;
    background-color: rgba(59, 56, 15, 0.7058823529);
    border-color:#615f5fb7;
    }
  }

      }
    }
  }

  @media (max-width: 1024px) {
    #contenedor-cards {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 1rem;
    }
  
    .card {
        width: 100%;
        margin-left: 0;
    }
  }
  
  
  @media (max-width: 768px) {
    #contenedor-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3 fr);
        margin-left: 0;
    }
  
    .card {
        width: 100%;
        margin-left: 0;
    }
  }
  
  /*Estilos footer*/
  .footer{
    background-color:#2c2a2ab7 ;
    padding: 1rem 0;
    .container-footer{
      width: 100%;
      margin: 0 auto;
      background-color:#cbc3c3;
      
    .footer-row{
      display: flex;
      flex-wrap: wrap;
        
  .menu-footer{
    width: 25%;
    padding: 0 15px;
    margin-top: 10px;
    h4{
      font-size: 20px;
      color: #383535;
      margin-bottom: 20%;
      margin-left: 30px;
      font-weight: 500;
      border-bottom: 2px solid #0b0b0b;
      display: inline-block;
    }
    ul li a{
      font-size: 18px;
      text-decoration: none;
      color: #323030;
      display: block;
      margin-bottom: 0.5rem;
      transition: all .3s ease;
   }
   .redes {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    .iconos-redes {
      color: #413f3f;
      font-size: 20px;
      transition: color 0.3s;     
  :hover {
    color: #0b0b0b;
  }
    }
  }
  }
      }
    }
  }
  
  @media (max-width: 1024px) {
    .menu-footer {
      width: 50%;
    }
    
    .menu-footer h4 {
      margin-left: 15px;
      font-size: 18px;
    }
    
    .menu-footer ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .menu-footer {
      width: 100%; 
      padding: 0 10px;
    }

    .footer-row {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
    
    .menu-footer h4 {
      font-size: 16px;
      margin-left: 0;
      margin-bottom: 10%;
    }
    
    .menu-footer ul li a {
      font-size: 14px;
    }
    
    .redes {
      justify-content: center; 
    }
  }

  @media (max-width: 480px) {
    .footer-row {
      grid-template-columns: 1fr; 
    }
  }
  /*Estilos Catalogo*/

  
  .contenedor-catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:3rem 0.5rem;
    gap: 20px;
    max-width: 100%;
    padding: 10px 0 60px 0;
    border-radius: 6px;
    background-color:  #bcb3b350;
    margin-bottom: 4rem;
    :hover {
      box-shadow: 0 10px 280px rgb(0, 0, 12);
      }
   
   

    .conteiner-items {
      display: grid;
      border-radius: 10px;
      width: 275px;
      margin: 2rem auto;
      background-color: #c8c0c0d3;
     

      .item img {
        width: 280px;
        height:180px;
        object-fit: cover;
        border-top: 5px;
        transition: all 0.5s;
        :hover {
          transform: scale(1.1);
        }
      }

  
  .infor {
    padding: 15px 20px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
      
  .precio {
    font-size: 18px;
    font-weight: 900;
  }
    
  button {
    width: 80%;
    border: none;
    background: none;
    background-color: rgba(177, 150, 115, 0.659);
    color: #3b380f;
    padding: 3px;
    transition: all 0.5s;
    border-radius: 1rem;
  }
  }
    }

    
  }
  

 
  
  @media (max-width: 1024px) {
    .contenedor-catalogo {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 1rem auto;
      padding: 10px 0 40px 0;
    }
  
    .conteiner-items {
      width: 300px;
      margin: 2rem auto;
    }
  
    .item img {
      width: 100%;
      height: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .contenedor-catalogo {
      grid-template-columns: 1fr;
      margin-left: 0 auto;
      padding: 10px 0 20px 0;
    }
  
    .conteiner-items {
      width: 280px;
      margin: 2rem auto;
    }
  
    .item img {
      width: 100%;
      height: 180px;
    }
  }
  
  .infor button:hover {
    transform: scale(1.1);
  }
  /* Estilos Nosotros*/
  .nosotros{
     width: 100%;
     padding: 2rem;
     background-color: rgba(214, 205, 192, 0.314);
     .descripcion-empresa article{
      color: #232121 ;
      margin-bottom: 5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1rem;
    }
  }
  

  
  
  .articulos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  /*items-nosotros*/
  
  .asesoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  .nosotros-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .inf-form{
    margin-top: 4rem;
    margin-bottom: 4rem; 
    margin-left:40%;
    max-width: 450px;
    background-color: rgba(225, 207, 181, 0.314) ;
    padding: 30px;
    border-radius: 1.5rem;
    h4{ 
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      text-shadow: #232121;
      font-weight: 300;
    }
    input{ 
      outline: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: none;
      font-size: 1.1rem;
      padding: 0 1.5rem;
      width: 15rem;
      color: black;
      cursor: pointer;
      border-radius: 1rem;
      }

   button{
    width: 5rem;
    font-size: 1rem;
    padding: 3px;
    background-color:#615f5f89; 
    border-radius: 2rem;
    margin-top: 10px;
  }
    }
  }
    /*estilos formulario*/
  
  .contenedor-form {
    background: #e8e4e4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-envios{
    max-width: 500px;
    margin: 10px auto;
    h4 {
      margin-bottom: 20px;
      color: #333;
      text-align: center;
    }
    .control {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      :focus {
      border-color: rgba(223, 151, 58, 0.659);
      outline: none;
      box-shadow: 0 0 5px rgba(108, 99, 255, 0.2);
     }
    }
    .data{
    display: flex;
    justify-content: center;
    align-items: center;
     a{
      color:  rgba(188, 140, 77, 0.783);
      margin-left: 7px;
     :hover {
      text-decoration: underline;
      color:  rgba(40, 39, 37, 0.959);;
      }
    }
  }
  .pago {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #555;
  
    }
    .iconos-pago {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin: 10px 0;  
       a {
      font-size: 24px;
      color: #555;
      transition: color 0.3s ease;
      :hover {
        color: rgba(177, 150, 115, 0.659);
      }
     }
    }
  .botton {
    width: 50%;
    padding: 12px;
    background-color:  rgb(192, 151, 110);
    border: none;
    border-radius: 5px;
    color: white;
    margin: auto 25%;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    :hover {
      background-color:  rgba(215, 172, 116, 0.911);
    }
   }
  }

  @media (max-width: 1024px) {
    .contenedor-form {
      margin-left:  auto 20px;
      padding: 20px; 
    }
    .botton {
      width: 100%;
      margin: auto;
    }
  }
  @media (max-width: 768px) {
    .contenedor-form {
      margin: auto;
      margin-top: 1rem; 
      margin-bottom: 1rem; 
      padding: 19px; 
      width: 100%;
    }
  
    .form-envios{
    max-width: 350px;
    
    h4 {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .control {
      font-size: 12px;
    }
  
    .data, .pago {
      font-size: 12px;
    }
  
    .botton {
      width: 50%;
      font-size: 13px;
      display: flex;
      align-items: center;
      margin: auto;
    }
   }
  }


  