@import "../utilidades/_variables";
@import "../utilidades/_mediaqueries";

  /*Estilos Catalogo*/
 .contenedor-catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:3rem 0.5rem;
    gap: 20px;
    max-width: $anchos;
    padding: 10px 0 60px 0;
    border-radius: 6px;
    background-color:  #bcb3b350;
    margin-bottom: 4rem;
    &:hover {
      box-shadow: 0 10px 280px rgb(0, 0, 12);
      }
   
    .conteiner-items {
      display: grid;
      border-radius: 10px;
      width: 275px;
      margin: 2rem auto;
      background-color: #c8c0c0d3;
     
      .item img {
        width: 280px;
        height:180px;
        object-fit: cover;
        border-top: 5px;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }

  .infor {
    padding: 15px 20px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto;
    align-items: center;
    justify-content: center;
    
    h5{
      font-size: 20px;
    }
      
  .precio {
    font-size: 15px;
    font-weight: 900;
  }
    
  button {
    width: 80%;
    border: none;
    background: none;
<<<<<<< HEAD
    background:$color-button;
=======
    background:$color-button;
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
    color: #3b380f;
    padding: 3px;
    transition: all 0.5s;
    border-radius: 1rem;
    &:hover{
<<<<<<< HEAD
    background:$color-button-hover;
=======
    background:$color-button-hover
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
       }
      }
     }
    } 
  }
