@import "../utilidades/_variables";
@import "../utilidades/_mediaqueries";

  /*estilos main contenido*/
   .main-contenedor{
    background-color:  #eae3e368;
    width: $anchos;  
 }  
 
   /* Estilos servicio inicio*/
   .container-servicio {
    display: grid;
    width: $anchos;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    margin: auto;
    .card-servicio {
      display: flex;
      align-items: center;
      background: linear-gradient(to bottom right, rgba(236, 221, 200, 0.659), #8dadcae6);
      justify-content: center;
      gap: 0.2rem;
      width: 80%;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      i {
        font-size: 15px;
        color: #010101;
        margin: 5px;
      }
    }
    .servicio-content {
      display: flex;
      margin: auto;
      flex-direction: column;
      margin: auto;
      margin-left: 20px;
      align-content: center;
      span {
        font-weight: 100;
        font-size: 13px;
        color: #010101;
      }
      p {
        color: #030303;
        font-weight: 100;
        font-size: 10px;
      }
    }
  }

/*estilos mas vendidos*/
.mas-vendidos {
  background-color: #f9f9f9;
  padding: 20px; 
  text-align: center; 

  .container-categories {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 

    .card-category {
      background-color: #fff; 
      border: 1px solid #ddd; 
      border-radius: 10px; 
      padding: 15px; 
      margin: 10px; 
      width: 250px; 
      height: 350px;
      text-align: left;
      transition: transform 0.3s; 

      p {
        font-size: 15px; 
        color: #f1eded; 
        margin-left:60px; 
        margin-top: 100px;
      }

      span {
        color: $color-button; 
        cursor: pointer;
        text-decoration: underline; 
        display: block; 
        margin-left:60px; 
        color: #fff;

      }

      &:hover {
        transform: scale(1.05);
      }
    }
    .category-muebles {
      background-image: linear-gradient(#00000080, #00000080), url(../img/sala-cuero.png);
      background-size: cover; 
      background-position: center;
    }
    
    .category-alcobas {
      background-image: linear-gradient(#00000080, #00000080), url(../img/come-moderno.jpg);
      background-size: cover;
      background-position: center;
    }
    
    .category-comedores {
      background-image: linear-gradient(#00000080, #00000080), url(../img/comedor-clas.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}
  
 /* Estilos maejores productos*/
 .mejores-productos {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 3rem;


  .container-opciones {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    margin:auto; 
    
    .mejores {
      color: #0a0a0a;
      background-color: rgba(156, 127, 87, 0.792); 
      padding: 0.5rem 1rem;
      font-size: 1rem;
      text-decoration: none;
      border-radius: 1rem;
      transition: background-color 0.3s ease; 
      &:hover {
        background-color:$color-button-hover;
        transform: scale(1.05);
    }
  }
}
}
  /*Gallery-mini*/
.gallery{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows:repeat(2,15rem);
 gap: 0.5rem;
 margin-bottom:30px ;
 margin-left: 1rem;
 margin-right: 1rem;
 img{
   width: 100%; 
   height: 100%;
   object-fit: cover;
}
.gallery-img-3{
 grid-column: 2/4;
 grid-row: 1/3;
}
}

 /* Estilos cards*/
 
 #contenedor-cards{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 3rem;
   margin: 0;
   background-image: linear-gradient(to right, #f9f9f9, #bcb6b6c8);
   .card {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 280px;
     height:auto;
     border: 6px solid #615f5fb7;
     border-radius: 1rem;
     box-shadow: 0 4px 8px #3b380f 0, 0, 0, 0.1;
     background-image: linear-gradient(135deg, #dfe9f3 0%, #ffffff 100%);
     display: inline-block;
     margin: 1rem auto;

     .card__img1 {
       height: 170px;
       width: $anchos;
       object-fit: cover;
       background-color:#615f5f6e;
       border-radius: 0.5rem;
       background-image: url(../img.html/molde-bb.jpeg);
     }
     
     .card__img2 {
       height: 170px;
       width: $anchos;
       object-fit: cover;
       background-color: $secundario;
       border-radius: 0.5rem;
       background-image: url(../img.html/soja.jpeg);
     }
     
     .card__img3 {
       height: 170px;
       width: $anchos;
       object-fit: cover;
       background-color: #615f5fb7;
       border-radius: 0.5rem;
       background-image: url(../img.html/vela-card.jpeg);
     }
     .card__content {
       height:auto;
       max-height: none;
       background-color: $primario;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       max-width: $anchos;
       overflow-x: hidden;
       margin: 0 auto;
       padding: 10px;
       .card__titulo {
         margin-top: 0;
         color: #3b380f;
         text-align: center;
         padding: 3px;

       }
       
       .card__arti {
         color:  #b0a7a7;
         padding: auto;
         text-align: justify;
       }
       button{
         align-items: center;
       }

 .btn-primary {
   padding: 8px;
   background: none;
   border: 2px solid rgba(59, 56, 15, 0.7058823529);
   border-radius: 10px;
   color: $primario;
   background:$color-button;
   border-color: rgba(59, 56, 15, 0.7058823529);
    &:hover {
   padding: 8px;
   border: 2px solid rgba(59, 56, 15, 0.7058823529);
   border-radius: 10px;
   color: $primario;
   background-color: rgba(59, 56, 15, 0.7058823529);
   border-color:$secundario;
 }
 }

 .btn-secondary {
   padding: 8px;
   background: none;
   border: 2px solid rgba(59, 56, 15, 0.7058823529);
   border-radius: 10px;
   color: $primario;
   background: $color-button;
   border-color: rgba(59, 56, 15, 0.7058823529);
    &:hover {
   padding: 8px;
   border: 2px solid rgba(59, 56, 15, 0.7058823529);
   border-radius: 10px;
   color:$primario;
   background-color: rgba(59, 56, 15, 0.7058823529);
   border-color:#615f5fb7;
       }
      }
     }
   }
 }


