  @import "../utilidades/_variables";
  @import "../utilidades/_mediaqueries";

  /* Estilos Nosotros*/
  .nosotros{
    width: 100%;
    padding: 2rem;
    background-color: rgba(214, 205, 192, 0.314);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   .descripcion-empresa article{
    color: #232121 ;
    margin:1rem auto ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
  }

}
/* Estilo general del main */
.seccion-myv {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  max-width: 100%; 
  margin: auto; 
  padding: 20px;
  background-color: #f9f9f9;

.img-m {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  grid-column: 1 / 2; 
  border-radius: 5px; 
}
.articulo-1 {
  grid-column: 1 / 2; 
  padding: 15px; 
  background-color: #fff;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.articulo-1 {
  grid-column: 1 / 2; 
  padding: 15px; 
  background-color: #fff;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.articulo-2 {
  grid-column: 2 / 3; 
  padding: 15px; 
  background-color: #fff; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.img-v {
  width: 100%; 
  height: 300px;
  object-fit: cover; 
  grid-column: 2 / 3;
  border-radius: 5px; 
}
}
.asesoria {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  max-width: 100%; 
  margin: auto; 
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  .nosotros-media {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;

 h5 {
  margin-bottom: 15px; 
  font-size: 1.5rem;
  color: #333;
    }
iframe {
  width: 100%;
  height: 300px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
  }
  .inf-form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px; 
    background: linear-gradient(to bottom right, rgba(236, 221, 200, 0.659), #8dadcae6);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    h4 {
      margin-bottom: 15px;
      font-size: 1.2rem;
      color: #333;
      text-align: center;
    }
   input {
    width: 75%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #cccccc96; 
    border-radius: 5px;
    font-size: 1rem;
  }
   button {
    width: 40%;
    padding: 10px;
    background: $color-button;
    color: #edecdf;
    margin-top: 10px;
    transition: all 0.5s;
    border-radius: 1rem;
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    &:hover {
     background-color: $color-button-hover};
    }
    
  }
  
}









