
  /* Estilos Nosotros*/
  .nosotros{
    width: 100%;
    padding: 2rem;
    background-color: rgba(214, 205, 192, 0.314);
   .descripcion-empresa article{
    color: #232121 ;
    margin-bottom: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
  }
}

.articulos{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

/*items-nosotros*/

.asesoria{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

.nosotros-media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1rem auto;
  width: 100%;
  h5{
    margin-right: 10px;
  }
}.inf-form {
  margin-top: 4rem;
  margin-bottom: 4rem; 
  max-width: 450px;
  background: linear-gradient(to right, rgba(225, 207, 181, 0.8), rgba(255, 255, 255, 0.5));
  padding: 30px;
  border-radius: 1.5rem;
  .infor button:hover {
    transform: scale(1.1);
  }

  h4 { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 2px #232121; 
    font-weight: 300;
  }

  input { 
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    font-size: 1.1rem;
    padding: 0 1.5rem;
    width: calc(100% - 1rem); 
    color: black;
    cursor: pointer;
    border-radius: 1rem;
  }

  button {
    width: 5rem;
    font-size: 1rem;
    padding: 3px;
    background-color: #615f5f89; 
    border-radius: 2rem;
    margin-top: 10px;
    transition: background-color 0.3s ease; 
  }

  button:hover {
    background-color: rgba(97, 95, 95, 0.7); 
  }
}

}