@import "../utilidades/_variables";
@import "../utilidades/_mediaqueries";

/*  estilos gnerales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .titulo-1{
    font-size: 25px;
    text-align: center;
    margin:  3rem auto;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  /*estilos contenido barra del logo*/

    .container-inicio{
      background: linear-gradient(to bottom right, rgba(15, 15, 14, 0.412), #bbc5c595);
      margin: 0 auto;
      padding: 20px;
    
      
      .inicio{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        
        img{
        width: 150px;
         margin: 5px 15px;
        }
        
      } 
    .container-logo{
     width: 20%;
     align-items: center;
    } 
     .contenedor-soporte{
      margin: 0;
      width: 150px;
      height: auto;
      .soporte-clientes{
        font-size: 15px;
      }
      .numero{
        font-size: 15px;
      }
     }  
     .container-usuario {
      display: flex;
      flex-direction:row;
      align-items: center; 
      gap: 10px; 
    
  .fa-user{
   font-size: 15px; 
   color: #141313;
   padding-right: 0.2rem;
   border-right: 1px solid;
   }
  .fa-cart-flatbed-suitcase{
   font-size:20px; 
   color: #141313;
   padding-right: 0.5rem;
   border-right: 1px solid;
   }
    .contenedor-carrito{
     gap: 1rem;
     margin: auto ;
     margin-right: auto;
     display: flex;
     flex-direction: column;
    }
    }
    }
  
   /* estilos navbar*/
   .navbar{
     margin: 0;
    .container-fluid{
       margin: 0;
       .nav-link a {
        color: #363232;
        font-size: 20px;
        transition: color 0.3s;     
         &:hover {
           color: #030303;
         }
      }
      .d-flex{
        width: 70%;
        margin: auto 1rem ;
       .form-control{
        padding: 8px;
        color: #0b0b0b;
        width: 55%;
        margin-left: auto;
       }
       .btn-outline-success{
        width:25%;
        margin:3px;
        background: linear-gradient(45deg, rgb(133, 99, 66), rgba(215, 172, 116, 0.911));
        border-radius:5px;
        padding: 8px;
        border: none;
        color: #eeecec;
           &:hover{
            background: linear-gradient(45deg, rgb(203, 163, 111), rgba(192, 151, 110, 0.911));
             }
       }
      }
    }
   }
  /*estilos portada*/
  .banner{
    background-image: linear-gradient(100deg, #00000086, #0000202b), url(../img/living-room-8578263_1280.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    .contenedor-banner{
      max-width:15rem ;
      padding: 1rem 0;
      margin: 0 auto;
      margin-top: 3rem;
   
      p{
        color: #eae3e3;
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight:600;
     }
     h2{
      color: #eae3e3;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
      }

     a{
      margin-top: 2rem;
      text-decoration: none;
      color: #3e3c3c;
      background-color: $primario;
      display: inline-block;
      padding: 0.2rem 1.5rem;
      border-radius: 1rem;
      text-transform: uppercase;
     }
    }
  }

  .footer {
    padding: 0;
    height: auto;
    background: linear-gradient(to bottom right, rgba(15, 15, 14, 0.412), #4b4f4f95);
    .container-footer {
      width: 100%;
      height: auto;
      margin: 0;
      .footer-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        text-align: center;
        .menu-footer {
          flex-basis: 25%; 
          padding: 0 1rem; 
          margin-top: 10px;
           
   h4 {
    font-size: 20px;
    color: #fcfbfb;
    margin-bottom: 1rem;
    font-weight: 500;
    border-bottom: 2px solid #dbd4d4;
    display: inline-block;
  }
  
  .lista-footer {
    list-style: none; 
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 0.5rem;
    }
    a {
      font-size: 18px;
      text-decoration: none;
      color: #f6f1f1e1;
      transition: all 0.3s ease;
      &:hover {
        color: #fff;
      }
    }
  }
        }
          .redes {
          display: flex;
          justify-content: center;
          gap: 10px;
          padding-top: 10px;
            
      .iconos-redes {
       color: #ece9e9;
       font-size: 20px;
       transition: color 0.3s;
         
        &:hover {
        color: #090606;
       }
  
         }
        }
      }
    }
  }
  
 



  
 
  
   
  




 
  