/* queries servicios*/
@media (max-width: 768px) {
    .container-servicio {
        grid-template-columns: repeat(2, 1fr); 
        margin: auto 1rem;

    .card-servicio i {
      font-size: 1.3rem; 
     }
    .servicio-content span {
      font-size: 1.1rem; 
   }
  .servicio-content p {
      font-size: 0.9rem; 
     }
   }
 }

@media (max-width: 480px) {
    .container-servicio {
        grid-template-columns: 1fr;
        margin: auto 0.5rem;
        .card-servicio {
          flex-direction: column; 
          padding: 0.8rem 0; 
          i {
            font-size: 1.2rem;
      .servicio-content p {
       font-size: 0.8rem; 
          }
        }
  
      }
    }
}
/* queries cards*/
@media (max-width: 1024px) {
    #contenedor-cards {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 1rem;
    }
    .card {
        width: 100%;
        margin-left: 0;
    }
  }
  @media (max-width: 768px) {
    #contenedor-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3 fr);
        margin-left: 0;
    }
    .card {
        width: 100%;
        margin-left: 0;
    }
  }
  /* queries catalogo*/
  @media (max-width: 1024px) {
    .contenedor-catalogo {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 1rem auto;
      padding: 10px 0 40px 0;
    }
  
    .conteiner-items {
      width: 300px;
      margin: 2rem auto;
    }
  
    .item img {
      width: 100%;
      height: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .contenedor-catalogo {
      grid-template-columns: 1fr;
      margin-left: 0 auto;
      padding: 10px 0 20px 0;
    }
    .conteiner-items {
      width: 280px;
      margin: 2rem auto;
    }
  
    .item img {
      width: 100%;
      height: 180px;
    }
  }
   /*queries formulario*/
   @media (max-width: 1024px) {
    .contenedor-form {
      margin-left:  auto 20px;
      padding: 20px; 
    }
    .botton {
      width: 100%;
      margin: auto;
    }
  }
  @media (max-width: 768px) {
    .contenedor-form {
      margin: auto;
      margin-top: 1rem; 
      margin-bottom: 1rem; 
      padding: 19px; 
      width: 100%;
    }
  
    .form-envios{
    max-width: 350px;
    
    h4 {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .control {
      font-size: 12px;
    }
  
    .data, .pago {
      font-size: 12px;
    }
    .botton {
      width: 50%;
      font-size: 13px;
      display: flex;
      align-items: center;
      margin: auto;
    }
   }
  }
  /*queries banner*/
  @media (max-width: 1024px) {
    .banner {
      width: 100%;
      height: 250px;
      .contenedor-banner {
        width: 100%;
        height: auto;
        p{
          font-size: 15px;
          margin-bottom:10px;
          font-weight:450;
       }
       h2{
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
        }
        a{
        margin-top: 1px;
        padding: auto;
        border-radius: 12px;
        text-transform: uppercase;
        
       }
      }
    }
  }
  @media (max-width: 750px) {
    .banner {
      width: 100%;
      height: 250px;
      .contenedor-banner {
        width: 100%;
        max-height: 200px;
        p{
          font-size: 15px;
          margin-bottom:10px;
          font-weight:450;
       }
       h2{
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
        }
        a{
        margin-top: 1px;
        padding: auto;
        border-radius: 12px;
        text-transform: uppercase;
        
         
       }
      }
    }
  }
  
  @media (max-width: 450px) {
    .banner {
      width: 100%;
      height: 250px;
      .contenedor-banner {
        width: 100%;
        max-height: 200px;
        p{
          font-size: 15px;
          margin-bottom:10px;
          font-weight:450;
       }
       h2{
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
        }
        a{
        
        margin-top: 1px;
        padding: auto;
        border-radius: 12px;
        text-transform: uppercase; 
       }
      }
    }
  }

   /*queries footer*/
  @media (max-width: 1024px) {
    .footer{
      height: 100%;
      .menu-footer {
        width: 25%;
        height: auto;

      h4 {
      margin-left: 15px;
      font-size: 18px;
       }
      }
    }
    .menu-footer ul li a {
      font-size: 16px;
      
    }
  }
  
  @media (max-width: 768px) {
    .menu-footer {
      width: 100%; 
      padding: 0 10px;
      justify-content: center;
           
    ul li a {
      font-size: 14px;
    }
     
    h4 {
      font-size: 16px;
      margin-left: 0;
      margin-bottom: 10%;
    }
    .footer-row {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
    }
    .redes {
      justify-content: center; 
    }
  }

  @media (max-width: 480px) {
    .footer-row {
      flex-direction: column;
      align-items: center;
  }

  .menu-footer {
      width: 100%;
      padding: 0;
      text-align: center;
      margin-bottom: 1rem;
      height: auto;
      h4 {
        margin-left: 0;
    }
  }
  .redes {
      justify-content: center;
  }
  }

  /* queries combos*/
  @media (max-width: 1024px) {
    .contenedor-catalogo-combos{
      grid-template-columns: repeat(2, 1fr);
      margin-left: 1rem auto;
      padding: 10px 0 40px 0;
    }
  
    .conteiner-items-combos {
      width: 300px;
      margin: 2rem auto;
    }
  
    .item img {
      width: 100%;
      height: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .contenedor-catalogo-combos {
      grid-template-columns: 1fr;
      margin-left: 0 auto;
      padding: 10px 0 20px 0;
    }
    .conteiner-items-combos {
      width: 280px;
      margin: 2rem auto;
    }
  
    .item img {
      width: 100%;
      height: 180px;
    }
  }
  

  