<<<<<<< HEAD
@import "../utilidades/_variables";
 
 /* dia queries inicio conteiner */
@media (min-width: 1025px) {
  .container-inicio {
    max-width: 100%;
    margin: auto;
    padding: 10px;
  }
  .contenedor-logo h1 {
    font-size: 40px;
  }
  .contenedor-soporte {
    display: flex;
    justify-content: space-between;
  }
  .contenedor-carrito {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .fa-user, .fa-basket-shopping {
    font-size: 25px;
  }
=======
/*queries inicio conteiner */
@media (min-width: 1025px) {
  .container-inicio {
    max-width:$anchos;
    margin: auto;
    padding: 10px;
    .contenedor-logo h1 {
      font-size: 40px;
    }
    .contenedor-soporte {
      display: flex;
      justify-content: space-between;
    }
    .contenedor-carrito {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .fa-user, .fa-basket-shopping {
      font-size: 25px;
    }
  }

>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container-inicio {
    padding: 10px;
<<<<<<< HEAD
  }
  .contenedor-logo h1 {
    font-size: 32px;
  }
  .contenedor-soporte {
    justify-content: space-between;
  }
  .contenedor-carrito {
    display: flex;
    flex-direction: row;
  }
  .fa-user, .fa-basket-shopping {
    font-size: 18px;
  }
=======
    .contenedor-logo h1 {
      font-size: 32px;
    }
    .contenedor-soporte {
      justify-content: space-between;
    }
    .contenedor-carrito {
      display: flex;
      flex-direction: row;
    }
    .fa-user, .fa-basket-shopping {
      font-size: 15px;
    }
  }

>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
}

/* Para pantallas pequeñas (máximo 450px) */
@media (max-width: 450px) {
  .container-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
<<<<<<< HEAD
  }
=======
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de

  .contenedor-logo {
    margin-bottom: 10px;
  }

  .contenedor-soporte {
    margin-bottom: 15px;
  }

  .container-usuario {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-carrito {
    margin-bottom: 10px;
  }


  .fa-user, .fa-basket-shopping {
<<<<<<< HEAD
    font-size: 15px;
=======
    font-size: 12px;
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
  }

  .contenedor-logo h1 {
    font-size: 15px; 
  }
<<<<<<< HEAD
}


=======
  }
}

>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
/* queries servicios*/
@media (max-width: 768px) {
    .container-servicio {
        grid-template-columns: repeat(2, 1fr); 
        margin: auto 1rem;

    .card-servicio i {
      font-size: 1.3rem; 
     }
    .servicio-content span {
      font-size: 0.5rem; 
   }
  .servicio-content p {
      font-size: 0.9rem; 
     }
   }
 }

@media (max-width: 480px) {
    .container-servicio {
        grid-template-columns: 1fr;
        margin: auto ;
        .card-servicio {
          flex-direction: column; 
          padding: 0.8rem 0; 
          i {
            font-size: 1.2rem;
      .servicio-content p {
       font-size: 0.8rem; 
          }
        }
  
      }
    }
}

/* queries categorias */

<<<<<<< HEAD

/* queries cards*/
=======
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
@media (max-width: 1024px) {
    #contenedor-cards {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 1rem;
    }
    .card {
        width: 100%;
        margin-left: 0;
    }
  }
  @media (max-width: 600px) {
    .container-cards {
      grid-template-columns: 1fr; 
      gap: 15px; 
    }
  }
  /* queries catalogo*/
  @media (max-width: 1024px) {
    .contenedor-catalogo {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 1rem auto;
      padding: 10px 0 40px 0;
    }
  
    .conteiner-items {
      width: 300px;
      margin: 2rem auto;
    }
  
    .item img {
      width:$anchos;
      height: 200px;
    }
  }
  
  @media (max-width: 700px) {
    .contenedor-catalogo {
      grid-template-columns: 1fr;
      margin-left: 0 auto;
      padding: 10px 0 20px 0;
    }
    .conteiner-items {
      width: 280px;
      margin: 2rem auto;

      .infor{
        margin: auto;
<<<<<<< HEAD
        width: 100%;
        h5{
          font-size: 10px;
          margin-left: 10px;
=======
        h5{
          font-size: 15px;
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
        }
      }
     
    }
    .item img {
      width: $anchos;
      height: 180px;
    }
  }
   /*queries formulario*/
   @media (max-width: 1024px) {
    .contenedor-form {
      margin-left:  auto 20px;
      padding: 20px; 
    }
    .botton {
      width: $anchos;
      margin: auto;
    }
  }
  @media (max-width: 768px) {
    .contenedor-form {
      margin: auto;
      margin-top: 1rem; 
      margin-bottom: 1rem; 
      padding: 19px; 
      width: $anchos;
    }
  
    .form-envios{
    max-width: 350px;
    
    h4 {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .control {
      font-size: 12px;
    }
  
    .data, .pago {
      font-size: 12px;
    }
    .botton {
      width: 50%;
      font-size: 13px;
      display: flex;
      align-items: center;
      margin: auto;
    }
   }
  }
  /*queries banner*/
  @media (max-width: 1024px) {
    .banner {
      width: $anchos;
      height: 250px;
      .contenedor-banner {
        width: $anchos;
        height: auto;
        p{
          font-size: 15px;
          margin-bottom:10px;
          font-weight:450;
       }
       h2{
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
        }
        a{
        margin-top: 1px;
        padding: auto;
        border-radius: 12px;
        text-transform: uppercase;
        
       }
      }
    }
  }
  @media (max-width: 750px) {
    .banner {
      width: $anchos;
      height: 250px;
      .contenedor-banner {
        width: $anchos;
        max-height: 200px;
        p{
          font-size: 15px;
          margin-bottom:10px;
          font-weight:450;
       }
       h2{
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
        }
        a{
        margin-top: 1px;
        padding: auto;
        border-radius: 12px;
        text-transform: uppercase;
        
         
       }
      }
    }
  }
  
  @media (max-width: 450px) {
    .banner {
      width:$anchos;
      height: 250px;
      .contenedor-banner {
        width: 100%;
        max-height: 200px;
        p{
          font-size: 15px;
          margin-bottom:10px;
          font-weight:450;
       }
       h2{
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
        }
        a{
        
        margin-top: 1px;
        padding: auto;
        border-radius: 12px;
        text-transform: uppercase; 
       }
      }
    }
  }

  /*queries footer*/
  /*queries footer*/
@media (max-width: 1024px) {
  .footer {
    width: $anchos;
    height: 100%;
    
    .menu-footer {
      width: 100%;
      height: auto;
    }

    .footer-title h4 {
      margin-right:  30px;
      font-size: 18px;
    }
  }
<<<<<<< HEAD

  .lista-footer ul li a {
    font-size: 16px;
    width: $anchos;
    margin: 0;
  }

  .redes {
    justify-content: center;

    .iconos-redes {
      font-size: 20px;
      gap: 5px;
=======
  
  @media (max-width: 768px) {
    .menu-footer {
      width: $anchos; 
      padding: 0 10px;
      justify-content: center;
           
    ul li a {
      font-size: 14px;
    }
     
    h4 {
      font-size: 16px;
      margin-left: 0;
      margin-bottom: 10%;
    }
    .footer-row {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
    }
  }
}

@media (max-width: 768px) {
  .menu-footer {
    width: $anchos;
    padding: 0;
    text-align: center;
  }

  .lista-footer ul li a {
    font-size: 12px;
    margin: auto;
  }

  .footer-title h4 {
    font-size: 16px;
    margin:  auto 20px;
   
  }

  .footer-row {
    width: $anchos;
    margin: 0;
  }

  .redes {
    justify-content: center;
    margin: auto;

    .iconos-redes {
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {
  .footer-row {
   
    margin: 0;
  }

  .menu-footer {
<<<<<<< HEAD
    padding: 0;
    margin: 0;
    height: auto;
=======
      width:$anchos;
      padding: 0;
      text-align: center;
      margin-bottom: 1rem;
      height: auto;
      h4 {
        margin-left: 0;
    }
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
  }

  .lista-footer ul li a {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  .footer-title h4 {
   
    text-align: justify;
  }

<<<<<<< HEAD
  .redes {
    width: $anchos;

    .iconos-redes {
      font-size: 20px;
    }
  }
}




   /*queries combos*/
  @media (max-width: 460px) {
    .contenedor-catalogo-combos1 {
      display: flex;
      flex-direction: column; 
      text-align: center; 
      padding: 5px;
      img {
        max-width: 100%; 
        height: auto; 
        margin-bottom:auto; 
      }
    }
      .infor {
      width: 80%; 
      margin: 0;
       button {
        width: 80%; 
        margin: auto;
        border-radius: 3px;
      }
  
    .inf-form {
    width: 100%; 
    padding: 10px;
      input {
      width: 80%; 
      margin: auto;
       }
       button {
        width: 80%; 
        margin: auto;
      }
     }
    }
    .asesoria-combos {
      padding: 10px;
      width: 100%;
    }
  }
  
  @media (max-width: 700px) {
    .contenedor-catalogo-combos1 {
      grid-template-columns: 1fr; 
      padding: 20px;
      button {
        margin: 1rem auto;
        border-radius: 3px;
       }
       img {
        max-width: 100%; 
        height: auto; 
        margin-bottom:auto; 
      }
      .asesoria-combos {
        padding: 20px;
        width: 100%;
    
         .inf-form {
          width: 100%; 
       
        button {
          width: 60%; 
          margin:10px auto ;
        }
       input {
        width: 90%; 
        margin:10px auto ;
         }
       }
      }
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 992px) {
    .contenedor-catalogo-combos1 {
      grid-template-columns: 1fr 1fr; 
      gap: 20px;
      button {
       margin: 1rem auto;
       border-radius: 3px;
      }
      img {
        max-width: 100%; 
        height: auto; 
        margin-bottom:auto; 
      }
    }
    .asesoria-combos {
      margin: auto 3rem;
      padding: 30px;
  
     .inf-form {
      width: 80%;
      }
      .infor {
        width: 80%;
        margin: 0;
     input {
      width: 100%;
      }
      button {
        width: 100%;
      }
    }
      }
    }
=======
  /* queries combos*/
  @media (max-width: 1024px) {
    .contenedor-catalogo-combos{
      grid-template-columns: repeat(2, 1fr);
      margin-left:$margenes;
      padding: 10px 0 40px 0;
      .conteiner-items-combos {
        width: 300px;
        margin: 2rem auto;
        .item img {
          width: $anchos;
          height: 200px;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .contenedor-catalogo-combos {
      grid-template-columns: 1fr;
      margin-left: 0 auto;
      padding: 10px 0 20px 0;
      .conteiner-items-combos {
        width: 280px;
        margin: 2rem auto;
      }

    .item img {
      width: $anchos;
      height: 180px;
    }
    }
   
  
  }
>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
  
  
  @media (min-width: 993px) {
    .contenedor-catalogo-combos1 {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      button {
        margin: 1rem auto;
       }
       img {
        width: 100%; 
        height: auto; 
        margin-bottom:auto; 
      }
      .asesoria-combos {
        padding: 40px;
        .infor {
          width: 400px;
        }
      .inf-form {
        width: 100%; 
        input {
        width: 100%;
       }
       button {
        width: 100%;
      }
      }
        }
      }
    }
  
  
  
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  