@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin grid-2-columnas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@mixin grid-2-columnas-pc{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@mixin medidas {
  width: $anchos;
  margin:auto;
}