$primario:#ffffffee;
$secundario:#615f5fb7;
$anchos:100%;
$ancho-button:80%;
$color-button:linear-gradient(45deg, rgb(133, 99, 66), rgba(215, 172, 116, 0.911));;
$color-button-hover: linear-gradient(45deg, rgb(203, 163, 111), rgba(192, 151, 110, 0.911));;
$margenes:1rem auto;
<<<<<<< HEAD
$altos:300px;
=======

>>>>>>> 93b38fc7e82f660ecec033014817abea03f053de
